<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cbb882">  <td>17/10/21 16:41:34</td>   <td>0</td> <td title="&gt;&gt;ReportClassConfig.InstallReport()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;InstallReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="cbb882">  <td>17/10/21 16:41:35</td>   <td>341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReportClassConfig.getTestName(java.lang.reflect.Method)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;getTestName</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@665812177</td>   <td></td> </tr>
<tr bgcolor="cbb882">  <td>17/10/21 16:41:35</td>   <td>341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReportClassConfig.getTestName(java.lang.reflect.Method)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;getTestName</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@665812177</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:41:35</td>   <td>343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:41:35</td>   <td>343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/21 16:41:56</td>   <td>22083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">DoTest</td> 
  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/21 16:41:59</td>   <td>24187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">DoTest2</td> 
  <td>pool-1-thread-2@665812177</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:14</td>   <td>39869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:14</td>   <td>40054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="cbb882">  <td>17/10/21 16:42:15</td>   <td>41002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ReportClassConfig.getResult(org.testng.ITestResult)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@665812177</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:15</td>   <td>41013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:16</td>   <td>42068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/21 16:42:32</td>   <td>57369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">DoTest2</td> 
  <td>pool-1-thread-2@665812177</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:32</td>   <td>57373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/21 16:42:34</td>   <td>59584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">DoTest</td> 
  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>17/10/21 16:42:34</td>   <td>59590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@2f686d1f]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1969841998</td>   <td></td> </tr>
</table>
