<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>17/10/28 15:40:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>17/10/28 15:41:21</td>   <td>23286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseClass.AfterTest()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>17/10/28 15:40:48</td>   <td>-9476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">DoTest</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>17/10/28 15:41:13</td>   <td>14733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.DoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">DoTest</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:40:33</td>   <td>-25215</td> <td title="&gt;&gt;ReportClassConfig.InstallReport()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&gt;&gt;InstallReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>17/10/28 15:40:33</td>   <td>-24875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>17/10/28 15:40:59</td>   <td>1145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseClass.InstallTest()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&gt;&gt;InstallTest</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:40:59</td>   <td>1143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ReportClassConfig.getResult(org.testng.ITestResult)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:41:22</td>   <td>24333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ReportClassConfig.getResult(org.testng.ITestResult)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:40:33</td>   <td>-24878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReportClassConfig.getTestName(java.lang.reflect.Method)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&gt;&gt;getTestName</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:40:59</td>   <td>1145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ReportClassConfig.getTestName(java.lang.reflect.Method)[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&gt;&gt;getTestName</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>17/10/28 15:41:22</td>   <td>24355</td> <td title="&lt;&lt;ReportClassConfig.tearDown()[pri:0, instance:com.DoTests.FirstTest@56ac3a89]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
</table>
